* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

:root {
  --bg: #111827;
  --text: #ffffff;
  --separator: #8f8fa9;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--text);

  background-color: var(--bg);
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 500;
}

h1::after {
  content: "";

  height: 2px;
  width: 40%;

  background-color: var(--separator);

  display: block;

  margin: 20px auto;
}

.item p::after {
  content: "";

  height: 2px;
  width: 40%;

  background-color: var(--separator);

  display: block;

  margin: 20px auto;
}

.title-section {
  text-align: center;

  margin-top: 350px;
}

.owl-stage-outer {
  height: 90vh;
}

.sub-section {
  text-align: justify;

  max-width: 1000px;

  margin: 240px auto;
}

.resume-section {
  overflow-y: scroll;
}

.item {
  display: flex;
  flex-direction: column;

  align-items: center;

  height: 100%;
  max-width: 1000px;

  margin: 40px auto;
}

.image-box {
  min-width: 500px;
  max-width: 700px;
  min-height: 400px;
  max-height: 600px;
}

.item p {
  max-width: 700px;
  max-height: 600px;
}
